<!doctype html>
<html lang="en">
     <head>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
     </head>
     <body>
	<div id="map" style="width:100%; height:300px;"></div>
	<h1>Areas Embargadas </h1>
	<table border=1 cellpadding=7>
            <tr>
                <th>Name</th>
                <th>CPF/CNPJ</th>
                <th>Data</th>
                <th>Municipio</th>
                <th>Causa</th>
            </tr>
        {% for obj in object_list %}
            <tr>
		<td><a href="{{ obj.numero_tad }}/">{{ obj.nom_pessoa }}</a></td>
 		<td>{{ obj.cpf_cnpj_i }}</td>
                <td>{{ obj.data_tad }}</td>
                <td>{{ obj.nom_munici }}</td>
                <td>{{ obj.des_infrac }}</td>
            </tr>
        {% endfor %}
        </table>
 	<script type="text/javascript">
            var map = L.map('map').setView([-7.245, -52.452], 4);
	    var layer = L.mapbox.tileLayer('infoamazonia.hm5iceem');
            map.addLayer(layer);
        </script>
     </body>
</html>
